* {
    background: #fff;
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
    text-align: center;
}

#countLetterArea {
    padding: 5px;
}

input[type=button] {
    border-radius: 10px;
    height: 30px;
    padding: 5px 10px;
    background: #7cf;
    color: #333;
    display: block;
    margin: 10px auto;
}

input[type=button]:hover {
    cursor: pointer;
    background: #5ad;
    color: #eee;
}

input[type=button].backToTop {
    background: #eee;
    color: #38d;
}

input[type=button].backToTop:hover {
    background: #aaa;
    color: #adf;
}

#selecterText {
    padding: 5px;
    border-radius: 5px;
}